@import "./post.css";

.blog-posts {
  margin: 1em;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(100px, 300px);
}

.blog-posts > .card-panel {
  padding: 0;
  border-radius: 4px;
  margin: 0;
}

@media (min-width: 450px) and (max-width: 800px) {
  .blog-posts {
    margin: 1.5em;
    grid-template-columns: repeat(2, calc(calc(100% - 1.5em) / 2));
  }
}

@media (min-width: 800px) and (max-width: 1400px) {
  .blog-posts {
    margin: 2em;
    grid-template-columns: repeat(3, calc(calc(100% - 3em) / 3));
  }
}

@media (min-width: 1400px) {
  .blog-posts {
    margin: 3em;
    grid-template-columns: repeat(4, calc(calc(100% - 4.5em) / 4));
  }
}
