/* Posts container */
@media (min-width: 450px) and (max-width: 800px) {
  .home > .container > .posts {
    grid-template-columns: repeat(2, calc(calc(100% - 1em) / 2));
  }
}

@media (min-width: 800px) and (max-width: 1400px) {
  .home > .container {
    width: 70%;
  }

  .home > .container > .posts {
    grid-template-columns: repeat(3, calc(calc(100% - 2em) / 3));
  }
}

@media (min-width: 1400px) {
  .home > .container > .posts {
    grid-template-columns: repeat(4, calc(calc(100% - 3em) / 4));
  }
}
